.Container {
    padding: 30px;
    margin: 0 auto;
}

.Title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.TableHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Table {
    margin-bottom: 30px;
}

.LgTableField {
    display: none;
}

.DeleteLink {
    color: salmon;
    cursor: pointer;
}

.ScrollableTable {
    position: relative;
    height: 30vh;
    overflow: auto;
    display: block;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .LgTableField {
        display: table-cell;
    }
}