.Container {
    padding: 30px;
    margin: 0 auto;
}

.Table {
    margin-bottom: 30px;
}

.Title {
    margin-bottom: 30px;
    margin-top: 10px;
}

.TableHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ButtonContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.LgElement {
    display: none;
}

@media (min-width: 768px) {
    .LgElement {
        display: inline-block;
    }
}